:root {
    --navbar-height: 110px;
    --top-container-height: 600px;
    --clearfix-height: 710px; 

    --background-color-navbar: white;
    --background-color-odd: #EB9628;
    --text-color-odd: #F5ECE1;
    --background-color-even: #F5ECE1;
    --text-color-even: #1c1400
    --text-color-heading: #EB9628;
}

body {
    font-family: 'Lato', sans-serif !important;;
}

.top-heading {
    /* font-size: 5em; */
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold !important;
    font-family: 'Nova Round', cursive !important;
  }

.btn-primary {
    background-color: #EB9628;
    border-color: #EB9628;
}
.btn-primary:hover {
    background-color: #00669E;
}
.btn-primary:active {
    background-color:hotpink;
}

.btn-even {
    background-color: #EB9628;
    border-color: #EB9628;
}

.btn-odd {
    background-color: #F5ECE1;
    border-color: #F5ECE1;
    color: #1c1400
}

.navbar {
    min-height: var(--navbar-height);
    background-color: var(--background-color-navbar) !important;
}

.navbar-toggler {
    position: absolute;
    right: 30px;
}

.img-fluid {
    max-width: 70%;
}

.top-clearfix {
    height: var(--clearfix-height);
    padding-top: var(--navbar-height);
    width: 97%;
}

.top-heading, #navbarToggleExternalContent li {
    color: var(--text-color-heading);
}

.top-container {
    background-image: url('/assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: var(--navbar-height);
    min-height: var(--top-container-height);
    position: fixed;
    z-index: -999999;
}

.top-container .d-flex {
    min-height: var(--top-container-height);
}

.d-flex:not(.navbar-toggler) {
    height: 100%;
}

.navbar-toggler, .fa-bars {
    border-color: var(--text-color-heading) !important;
    color: var(--text-color-heading) !important;
}

.threeWiseDivs {
    max-width: 400px;
}

.odd-container {
    background-color: var(--background-color-odd);
    color: var(--text-color-odd);
}

.even-container {
    background-color: var(--background-color-even);
    color: var(--text-color-even);
}

.bottom-container {
    color: var(--text-color-heading);
    background-color: var(--background-color-navbar);
}

/* unvisited */
a:link {
    color: #00669E;
    text-decoration: none;
  }
  
a:visited {
color: #28A5EB;
text-decoration: none;
}

a:hover {
color: #EB9628;
text-decoration: underline;
}

/* selected */
a:active {
color: hotpink;
text-decoration: underline;
}

