:root {
    --navbar-height: 110px;
    --top-container-height: 600px;
    --clearfix-height: 710px; 

    --background-color-navbar: white;
    --background-color-odd: #EB9628;
    --text-color-odd: white;
    --background-color-even: #F5ECE1;
    --text-color-even: black;
    --text-color-heading: #000000;
}

body {
    font-family: 'Lato', sans-serif !important;;
}

h1 {
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }

.btn-primary {
    background-color: #000000;
    border-color: #000000;
}

.navbar {
    min-height: var(--navbar-height);
    background-color: var(--background-color-navbar) !important;
}

.navbar-toggler {
    position: absolute;
    right: 30px;
}

.img-fluid {
    max-width: 70%;
}

.top-clearfix {
    height: var(--clearfix-height);
    padding-top: var(--navbar-height);
}

.top-heading, #navbarToggleExternalContent li {
    color: var(--text-color-heading);
}

.top-container {
    background-image: url('/assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: var(--navbar-height);
    min-height: var(--top-container-height);
    position: fixed;
    z-index: -999999;
}

.top-container .d-flex {
    min-height: var(--top-container-height);
}

.d-flex:not(.navbar-toggler) {
    height: 100%;
}

.navbar-toggler, .fa-bars {
    border-color: var(--text-color-heading) !important;
    color: var(--text-color-heading) !important;
}

.odd-container {
    background-color: var(--background-color-odd);
    color: var(--text-color-odd);
}

.even-container {
    background-color: var(--background-color-even);
    color: var(--text-color-even);
}

.bottom-container {
    color: var(--text-color-heading);
    background-color: var(--background-color-navbar);
}