:root {
    --navbar-height: 110px;
    --top-container-height: 400px;
    --background-color-navbar: darkorange;
}

.navbar {
    min-height: var(--navbar-height);
    background-color: var(--background-color-navbar) !important;
}

.navbar-toggler {
    position: absolute;
    right: 30px;
}

.img-fluid {
    max-width: 70%;
}

.top-container {
    background-image: url('/assets/images/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: var(--navbar-height);
    min-height: var(--top-container-height);
}

.top-container .d-flex {
    min-height: var(--top-container-height);
}

.d-flex:not(.navbar-toggler) {
    height: 100%;
}

.odd-container {
    background-color: brown;
    color: rgb(235, 228, 228);
}

.even-container {
    background-color: coral;
    color: rgb(63, 50, 50);
}

.bottom-container {
    background-color: var(--background-color-navbar);
}